table {
    width: 100%;
    table-layout: fixed;
    margin: 2em 0;
    border-spacing: 0;
    border-collapse: collapse;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

tbody {
    outline: 1px solid var(--color-foreground);
    display: block;
    height: 500px;
    overflow-y: scroll;
}

thead {
    width: calc( 100% - 1em );
}

th {
    text-align: left;
    font-weight: 400;
    font-size: 0.8em;
}

th, td {
    padding: 1em;
}

tbody tr:not(:last-child) td {
    border-bottom: 1px solid #31404d;
}

tr.focused td {
    background-color: #31404d;
}
