:root {
    --page-width: 1280px;
    --white: #fff;
    --color-background: #001222;
    --color-foreground: #F5F8FA;
    --color-l-side: #00D1FF;
    --color-d-side: #FF2055;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    min-width: var(--page-width);
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Orbitron', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

#root {
    background: linear-gradient(90deg, #14222c 44%, var(--color-background) 45%);
}

.text_centered {
    text-align: center;
}

article {
    width: 100%;
    background: var(--color-background);
    padding: 0 2em;
    box-sizing: border-box;
}

article h1 {
    font-size: 2em;
    margin-bottom: 0;
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.text_dark_side {
    color: #FF2055;
}

.text_light_side {
    color: #00D1FF;
}

section {
    padding-top: 2em;
    padding-bottom: 10em;
    width: var(--page-width);
    margin: 0 auto;
}

.section_table {
    padding-bottom: 5em;
}

.page_section {
    padding-top: 2em;
    width: var(--page-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page_section__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.page_section__description__cell {
    width: 550px;
}

.page_section__main_chart {
    border-left: 3px solid white;
    border-right: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.page_section__main_chart--close-bottom {
    border-bottom: 3px solid white;
}

.page_section__helper_charts {
    display: flex;
    flex-direction: row;
}

.page_section__helper_charts__cell {
    flex: 1;
    padding-left: 2em;
    border-left: 1px solid #31404d;
}

.page_section__helper_charts__cell:last-child {
    border-right: 1px solid #31404d;
}

/* Pie chart section */
.pie-chart {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.pie-chart__light-side,
.pie-chart__dark-side {
    width: calc((1280px - 250px) / 2);
}

.pie-chart__light-side {
    text-align: right;
}

.pie-chart__dark-side {
    text-align: left;
    display: flex;
    align-items: end;
}


/* footer button bar */
.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

.button-bar__light-side,
.button-bar__dark-side {
    display: block;
    margin: 2em;
    text-decoration: none;
    transition: text-shadow 0.2s;
}

.button-bar__light-side {
    color: var(--color-l-side);
    text-shadow: 0 0 5px var(--color-l-side);
}

.button-bar__dark-side {
    color: var(--color-d-side);
    text-shadow: 0 0 5px var(--color-d-side);
}

.button-bar__light-side:hover {
    text-shadow: 0 0 15px #fff;
}

.button-bar__dark-side:hover {
    text-shadow: 0 0 15px #fff;
}
